/* Grid container */
.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100vh;
}

.game-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
}

.battlefield-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.battlefield-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Responsive layout for larger screens */
@media screen and (min-width: 1024px) {
    .game-container2 {
        flex-direction: row;
        gap: 4rem;
    }

    .battlefield-container {
        width: 40%;
    }

    .tile {
        border-radius: 9px;
    }
}

.tile-grid2 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2.5px;
    width: 70%;
    max-width: 900px;
}

.tile-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 2.5px;
    width: 25%;
    max-width: 900px;
    margin-top: 4rem;
}

/* Theme-specific base styles */
:root {
    --tile-bg-light: linear-gradient(135deg, #A1C4FD, #C2E9FB);
    --tile-bg-dark: linear-gradient(135deg, #614385, #516395);
    --tile-border-light: 1px solid #ddd;
    --tile-border-dark: 1px solid rgba(255, 255, 255, 0.2);
    --ship-bg-dark: linear-gradient(-45deg, #43469d, #1BFFFF);
    --ship-bg-light: linear-gradient(-45deg, #02AABD, #00CDAC);
    --button-bg-light: black;
    --button-bg-dark: white;
}

/* Individual tiles */
.tile {
    aspect-ratio: 1 / 1;
    background: var(--tile-bg-light);
    border: var(--tile-border-light);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.theme-dark .tile {
    background: var(--tile-bg-dark);
    border: var(--tile-border-dark);
    color: var(--text-primary-dark);
}

.tile.occupied {
    display: none;
}

.tile.revealed {
    background: inherit;
}

.tile.revealed.theme-dark-revealed {
  background: #0f0f0f;
  cursor: not-allowed;
}

.tile.revealed.theme-light-revealed {
  background: #efefef;
  cursor: not-allowed;
}

.tile:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* Splash effect */
.tile::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    transform: scale(0);
    animation: none;
    pointer-events: none;
}

.tile.clicked::after {
    width: 200%;
    height: 200%;
    animation: splash 0.6s ease-out;
}

/* Splash animation */
@keyframes splash {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
        opacity: 0;
    }
}

.ship-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.octa {
  aspect-ratio: 1;
  --o: calc(50% * tan(-22.5deg));
  background: var(--ship-bg-light);
  border-radius: 25%;
}

.theme-dark .octa {
    background: var(--ship-bg-dark);
}

.ship {
    background: var(--ship-bg-light);
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ship .ship-revealed {
    background: inherit;
    border-radius: 25%;
    border: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


.theme-dark .ship {
    background: var(--ship-bg-dark);
}


.draggable-ship {
    cursor: grab;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.rotate-container {
    margin-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: transparent;
    color: var(--button-bg-light);
    margin-bottom: 15px;
    border: none;
    transition: color 0.3s ease;
    cursor: pointer;
    z-index: 10;
}

button:hover {
    color: white;
}

.delete-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(182, 233, 249);
    cursor: pointer;
    background-color: transparent;
}

.delete-btn:hover {
  color: #000;
}

.main-btn {
    background-color: var(--button-bg-light);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
}

.theme-dark .main-btn {
    background-color: var(--button-bg-dark);
    color: black;
}

.container {
    display: flex;
    gap: 2rem;
}